In [2]:
import kedro.framework.cli.utils
import pandas as pd
import os
df = pd.read_csv('../data/01_raw/iowa_dataset.csv')

In [19]:
df.head()

,invoice_line_no,date,store,name,address,city,zipcode,county,category,category_name,...,pack,bottle_volume_ml,state_bottle_cost,state_bottle_retail,sale_bottles,sale_dollars,sale_liters,sale_gallons,store_location,county_number
0,INV-50346800002,2022-08-16,5359,FAREWAY STORES #168/ PEOSTA,8400 NICC DRIVE,PEOSTA,52068.0,DUBUQUE,1062400.0,SPICED RUM,...,12,750,6.00,9.00,12,108.00,9.00,2.37,NaN,NaN
1,INV-50288400002,2022-08-12,2524,HY-VEE FOOD STORE / DUBUQUE,3500 DODGE ST,DUBUQUE,52001.0,DUBUQUE,1012200.0,SCOTCH WHISKIES,...,12,1000,28.24,42.36,6,254.16,6.00,1.58,NaN,NaN
2,INV-50389200010,2022-08-17,3705,LIQUOR LOCKER,507 1ST AVE #100,ROCK RAPIDS,51246.0,LYON,1012100.0,CANADIAN WHISKIES,...,12,1000,6.64,9.96,12,119.52,12.00,3.17,NaN,NaN
3,INV-50258200004,2022-08-11,5107,KUM & GO #4098 / WINDSOR HEIGHTS,7229 UNIVERSITY AVE,WINDSOR HEIGHTS,50311.0,POLK,1012100.0,CANADIAN WHISKIES,...,8,50,8.50,12.75,1,12.75,0.05,0.01,NaN,NaN
4,INV-50378700007,2022-08-16,5203,KIMMES COON RAPIDS COUNTRY STORE #12,"516, HIGHWAY 141",COON RAPIDS,50058.0,CARROLL,1701100.0,TEMPORARY & SPECIALTY PACKAGES,...,12,750,17.49,26.24,12,314.88,9.00,2.37,"{'type': 'Point', 'coordinates': [-94.678386, ...",NaN

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7801642 entries, 0 to 7801641
Data columns (total 24 columns):
 #   Column               Dtype
---  ------               -----
 0   invoice_line_no      object
 1   date                 object
 2   store                int64
 3   name                 object
 4   address              object
 5   city                 object
 6   zipcode              float64
 7   county               object
 8   category             float64
 9   category_name        object
 10  vendor_no            float64
 11  vendor_name          object
 12  itemno               int64
 13  im_desc              object
 14  pack                 int64
 15  bottle_volume_ml     int64
 16  state_bottle_cost    float64
 17  state_bottle_retail  float64
 18  sale_bottles         int64
 19  sale_dollars         float64
 20  sale_liters          float64
 21  sale_gallons         float64
 22  store_location       object
 23  county_number        float64
dtypes: float64(9), int64(5), object(10)
memory usage: 1.4+ GB

In [21]:
df.describe()

,store,zipcode,category,vendor_no,itemno,pack,bottle_volume_ml,state_bottle_cost,state_bottle_retail,sale_bottles,sale_dollars,sale_liters,sale_gallons,county_number
count,7.801642e+06,7.799499e+06,7.800960e+06,7.801638e+06,7.801642e+06,7.801642e+06,7.801642e+06,7.801642e+06,7.801642e+06,7.801642e+06,7.801642e+06,7.801642e+06,7.801642e+06,6.554266e+06
mean,4.142670e+03,5.124749e+04,1.057130e+06,2.879021e+02,5.430420e+04,1.197103e+01,8.231553e+02,1.145097e+01,1.717811e+01,1.172533e+01,1.606799e+02,9.297161e+00,2.450426e+00,5.726752e+01
std,1.308549e+03,9.922399e+02,1.071005e+05,1.457341e+02,9.100524e+04,7.929128e+00,5.265064e+02,1.353391e+01,2.030000e+01,3.467162e+01,5.701766e+02,4.082052e+01,1.078384e+01,2.727206e+01
min,2.106000e+03,5.000200e+04,1.011000e+06,3.300000e+01,1.590000e+02,1.000000e+00,2.000000e+01,3.300000e-01,5.000000e-01,-3.600000e+02,-9.720000e+03,-6.300000e+02,-1.664200e+02,1.000000e+00
25%,2.643000e+03,5.031400e+04,1.012200e+06,2.050000e+02,2.710200e+04,6.000000e+00,3.750000e+02,6.000000e+00,9.000000e+00,3.000000e+00,4.200000e+01,1.500000e+00,3.900000e-01,3.100000e+01
50%,4.180000e+03,5.104000e+04,1.031200e+06,2.600000e+02,3.982500e+04,1.200000e+01,7.500000e+02,9.000000e+00,1.350000e+01,6.000000e+00,8.700000e+01,4.500000e+00,1.180000e+00,6.200000e+01
75%,5.240000e+03,5.230200e+04,1.071000e+06,4.200000e+02,6.520400e+04,1.200000e+01,1.000000e+03,1.400000e+01,2.100000e+01,1.200000e+01,1.630800e+02,1.050000e+01,2.770000e+00,7.700000e+01
max,1.010600e+04,5.722200e+04,1.901200e+06,9.780000e+02,9.999950e+05,1.200000e+02,6.000000e+03,1.843600e+04,2.765400e+04,1.320000e+04,2.509320e+05,1.320000e+04,3.487070e+03,9.900000e+01

In [22]:
missing_data = df.isnull().sum()
print(missing_data)

invoice_line_no              0
date                         0
store                        0
name                         0
address                   2121
city                      2121
zipcode                   2143
county                    2121
category                   682
category_name              682
vendor_no                    4
vendor_name                  4
itemno                       0
im_desc                      0
pack                         0
bottle_volume_ml             0
state_bottle_cost            0
state_bottle_retail          0
sale_bottles                 0
sale_dollars                 0
sale_liters                  0
sale_gallons                 0
store_location          764914
county_number          1247376
dtype: int64

In [23]:
percent_missing = df.isnull().mean() * 100
print(percent_missing)

invoice_line_no         0.000000
date                    0.000000
store                   0.000000
name                    0.000000
address                 0.027187
city                    0.027187
zipcode                 0.027469
county                  0.027187
category                0.008742
category_name           0.008742
vendor_no               0.000051
vendor_name             0.000051
itemno                  0.000000
im_desc                 0.000000
pack                    0.000000
bottle_volume_ml        0.000000
state_bottle_cost       0.000000
state_bottle_retail     0.000000
sale_bottles            0.000000
sale_dollars            0.000000
sale_liters             0.000000
sale_gallons            0.000000
store_location          9.804526
county_number          15.988634
dtype: float64

In [9]:
missing_data_df = pd.DataFrame({'total_missing': missing_data, 'percent_missing': percent_missing})
missing_data_df.sort_values(by='percent_missing', ascending=False)

                     total_missing  percent_missing
county_number              1247376        15.988634
store_location              764914         9.804526
zipcode                       2143         0.027469
address                       2121         0.027187
city                          2121         0.027187
county                        2121         0.027187
category                       682         0.008742
category_name                  682         0.008742
vendor_no                        4         0.000051
vendor_name                      4         0.000051
state_bottle_cost                0         0.000000
sale_gallons                     0         0.000000
sale_liters                      0         0.000000
sale_dollars                     0         0.000000
sale_bottles                     0         0.000000
state_bottle_retail              0         0.000000
invoice_line_no                  0         0.000000
bottle_volume_ml                 0         0.000000
pack                             0         0.000000
im_desc                          0         0.000000
date                             0         0.000000
name                             0         0.000000
store                            0         0.000000
itemno                           0         0.000000

In [43]:
#Removing county_number
df2 = df.drop('county_number', axis=1)

In [44]:
df3 = df2.dropna(subset=['zipcode', 'address', 'city', 'county', 'category', 'category_name', 'vendor_no', 'vendor_name'])

In [37]:
df3.isnull().sum()

invoice_line_no             0
date                        0
store                       0
name                        0
address                     0
city                        0
zipcode                     0
county                      0
category                    0
category_name               0
vendor_no                   0
vendor_name                 0
itemno                      0
im_desc                     0
pack                        0
bottle_volume_ml            0
state_bottle_cost           0
state_bottle_retail         0
sale_bottles                0
sale_dollars                0
sale_liters                 0
sale_gallons                0
store_location         762757
dtype: int64

In [38]:
df3.columns

Index(['invoice_line_no', 'date', 'store', 'name', 'address', 'city',
       'zipcode', 'county', 'category', 'category_name', 'vendor_no',
       'vendor_name', 'itemno', 'im_desc', 'pack', 'bottle_volume_ml',
       'state_bottle_cost', 'state_bottle_retail', 'sale_bottles',
       'sale_dollars', 'sale_liters', 'sale_gallons', 'store_location'],
      dtype='object')

In [39]:
#Checking datatypes for each column
data_types = df3.dtypes
print(data_types)

invoice_line_no         object
date                    object
store                    int64
name                    object
address                 object
city                    object
zipcode                float64
county                  object
category               float64
category_name           object
vendor_no              float64
vendor_name             object
itemno                   int64
im_desc                 object
pack                     int64
bottle_volume_ml         int64
state_bottle_cost      float64
state_bottle_retail    float64
sale_bottles             int64
sale_dollars           float64
sale_liters            float64
sale_gallons           float64
store_location          object
dtype: object

In [45]:
# Modyfing date columnn
df3_copy = df3.copy()
df3_copy['date'] = pd.to_datetime(df3_copy['date'])
df3_copy['year'] = df3_copy['date'].dt.year
df3_copy['month'] = df3_copy['date'].dt.month
df3_copy['day'] = df3_copy['date'].dt.day
df3 = df3_copy
df3.drop('date', axis=1, inplace=True)

In [50]:
df3.columns

Index(['invoice_line_no', 'store', 'name', 'address', 'city', 'zipcode',
       'county', 'category', 'category_name', 'vendor_no', 'vendor_name',
       'itemno', 'im_desc', 'pack', 'bottle_volume_ml', 'state_bottle_cost',
       'state_bottle_retail', 'sale_bottles', 'sale_dollars', 'sale_liters',
       'sale_gallons', 'store_location', 'year', 'month', 'day'],
      dtype='object')

In [52]:
print(df3.dtypes)

invoice_line_no         object
store                    int64
name                    object
address                 object
city                    object
zipcode                float64
county                  object
category               float64
category_name           object
vendor_no              float64
vendor_name             object
itemno                   int64
im_desc                 object
pack                     int64
bottle_volume_ml         int64
state_bottle_cost      float64
state_bottle_retail    float64
sale_bottles             int64
sale_dollars           float64
sale_liters            float64
sale_gallons           float64
store_location          object
year                     int32
month                    int32
day                      int32
dtype: object

In [53]:
df3.head()

,invoice_line_no,store,name,address,city,zipcode,county,category,category_name,vendor_no,...,state_bottle_cost,state_bottle_retail,sale_bottles,sale_dollars,sale_liters,sale_gallons,store_location,year,month,day
0,INV-50346800002,5359,FAREWAY STORES #168/ PEOSTA,8400 NICC DRIVE,PEOSTA,52068.0,DUBUQUE,1062400.0,SPICED RUM,259.0,...,6.00,9.00,12,108.00,9.00,2.37,NaN,2022,8,16
1,INV-50288400002,2524,HY-VEE FOOD STORE / DUBUQUE,3500 DODGE ST,DUBUQUE,52001.0,DUBUQUE,1012200.0,SCOTCH WHISKIES,260.0,...,28.24,42.36,6,254.16,6.00,1.58,NaN,2022,8,12
2,INV-50389200010,3705,LIQUOR LOCKER,507 1ST AVE #100,ROCK RAPIDS,51246.0,LYON,1012100.0,CANADIAN WHISKIES,772.0,...,6.64,9.96,12,119.52,12.00,3.17,NaN,2022,8,17
3,INV-50258200004,5107,KUM & GO #4098 / WINDSOR HEIGHTS,7229 UNIVERSITY AVE,WINDSOR HEIGHTS,50311.0,POLK,1012100.0,CANADIAN WHISKIES,259.0,...,8.50,12.75,1,12.75,0.05,0.01,NaN,2022,8,11
4,INV-50378700007,5203,KIMMES COON RAPIDS COUNTRY STORE #12,"516, HIGHWAY 141",COON RAPIDS,50058.0,CARROLL,1701100.0,TEMPORARY & SPECIALTY PACKAGES,260.0,...,17.49,26.24,12,314.88,9.00,2.37,"{'type': 'Point', 'coordinates': [-94.678386, ...",2022,8,16

In [54]:
# Displaying rows with null values in 'store_location'
null_store_location = df3[df3['store_location'].isnull()]

In [55]:
# Displaying the first few rows of these subsets
null_store_location.head()

,invoice_line_no,store,name,address,city,zipcode,county,category,category_name,vendor_no,...,state_bottle_cost,state_bottle_retail,sale_bottles,sale_dollars,sale_liters,sale_gallons,store_location,year,month,day
0,INV-50346800002,5359,FAREWAY STORES #168/ PEOSTA,8400 NICC DRIVE,PEOSTA,52068.0,DUBUQUE,1062400.0,SPICED RUM,259.0,...,6.00,9.00,12,108.00,9.00,2.37,NaN,2022,8,16
1,INV-50288400002,2524,HY-VEE FOOD STORE / DUBUQUE,3500 DODGE ST,DUBUQUE,52001.0,DUBUQUE,1012200.0,SCOTCH WHISKIES,260.0,...,28.24,42.36,6,254.16,6.00,1.58,NaN,2022,8,12
2,INV-50389200010,3705,LIQUOR LOCKER,507 1ST AVE #100,ROCK RAPIDS,51246.0,LYON,1012100.0,CANADIAN WHISKIES,772.0,...,6.64,9.96,12,119.52,12.00,3.17,NaN,2022,8,17
3,INV-50258200004,5107,KUM & GO #4098 / WINDSOR HEIGHTS,7229 UNIVERSITY AVE,WINDSOR HEIGHTS,50311.0,POLK,1012100.0,CANADIAN WHISKIES,259.0,...,8.50,12.75,1,12.75,0.05,0.01,NaN,2022,8,11
9,INV-50298300021,4169,SUPER QUICK 2 / HUBBELL,1824 HUBBELL AVE,DES MOINES,50317.0,POLK,1022200.0,100% AGAVE TEQUILA,395.0,...,22.41,33.62,3,100.86,2.25,0.59,NaN,2022,8,12

In [56]:
df3['store_location'].isnull().sum()

762757

In [57]:
#Fullfilling missing values from store_location based on store_id ['store']
df4 = pd.DataFrame(df3)

In [ ]:
# Step 1: Creating a mapping between 'store' and the most common 'store_location' for that store
store_to_location = df4.dropna(subset=['store_location']).groupby('store')['store_location'].agg(lambda x: x.value_counts().index[0]).to_dict()

# Step 2: Using this mapping to fill missing 'store_location' values
df4['store_location'] = df4.apply(lambda row: store_to_location.get(row['store'], row['store_location']) if pd.isnull(row['store_location']) else row['store_location'], axis=1)

In [ ]:
df4['store_location'].isnull().sum()

In [ ]:
#Still too many records to avoid !
# Splitting store_location
import json

def process_store_location(location_str):
    try:
        location_dict = json.loads(location_str.replace("'", "\""))
        return location_dict['coordinates'][0], location_dict['coordinates'][1]
    except (json.JSONDecodeError, KeyError, AttributeError):
        return None, None

# Creating columns longitude and latitude from store_location
df4['longitude'], df4['latitude'] = zip(*df4['store_location'].apply(process_store_location))

In [ ]:
# Filtruj DataFrame, aby znaleźć rekordy, gdzie 'store_location' jest pusty
filtered_df = df4[df4['store_location'].isna()]

# Znajdź unikalne wartości w kolumnie 'address' w przefiltrowanym DataFrame
unique_addresses_count = filtered_df['address'].nunique()

# Wypisz liczbę unikalnych adresów
print(f"Liczba unikalnych adresów z pustym 'store_location': {unique_addresses_count}")

In [ ]:
from geopy.extra.rate_limiter import RateLimiter
from geopy.geocoders import Nominatim
import time

# Inicjalizacja geokodera z Nominatim
geolocator = Nominatim(user_agent="my_geocoding_app", timeout=10)
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)

# Słownik do przechowywania już znalezionych współrzędnych
found_coordinates = {}
count = 0

def geocode_and_fill_coordinates(row):
    global count
    
    time.sleep(3)  # Opóźnienie między zapytaniami
    address = row['address']
    city = row['city']
    
    if pd.notnull(address) and pd.notnull(city):
        # Sprawdź, czy adres już został przetworzony
        if (address, city) in found_coordinates:
            return found_coordinates[(address, city)]

        try:
            # Wykonanie geokodowania
            location = geocode(f"{address}, {city}")

            if location:
                lat, lon = location.latitude, location.longitude
                # Zapisz znalezione współrzędne w słowniku
                found_coordinates[(address, city)] = (lat, lon)
                count += 1
                print(f"count: {count}, Uzupełniono dane geograficzne dla adresu: {address}, miasta: {city}")
                return lat, lon
        except Exception as e:
            print(f"Błąd podczas wykonywania geokodowania: {e}")

    return None, None

#Znajdź unikalne wartości w kolumnie 'address' w przefiltrowanym DataFrame
unique_addresses = filtered_df['address'].unique()
unique_addresses

In [ ]:
# Iteracja tylko przez unikalne adresy
for address in unique_addresses:
    temp_df = filtered_df[filtered_df['address'] == address]
    geocode_and_fill_coordinates(temp_df.iloc[0])

In [ ]:
# Uaktualnij kolumny 'latitude' i 'longitude' korzystając ze słownika 'found_coordinates'
for index, row in df4.iterrows():
    if (row['address'], row['city']) in found_coordinates:
        lat, lon = found_coordinates[(row['address'], row['city'])]
        df4.at[index, 'latitude'] = lat
        df4.at[index, 'longitude'] = lon

In [ ]:
# df4.drop(columns=[':@computed_region_3r5t_5243', ':@computed_region_wnea_7qqw', ':@computed_region_i9mz_6gmt', ':@computed_region_uhgg_e8y2', ':@computed_region_e7ym_nrbf'], inplace=True)

In [ ]:
found_coordinates

In [ ]:
null_latitude = df4['latitude'].isnull().sum()
null_longitude = df4['longitude'].isnull().sum()

print(f"Liczba null w kolumnie 'latitude': {null_latitude}")
print(f"Liczba null w kolumnie 'longitude': {null_longitude}")

In [ ]:
df5 = df4.dropna(subset=['latitude', 'longitude'])

In [ ]:
df6 = df5.drop('store_location', axis=1)

In [ ]:
df6.isnull().sum().sum()

In [ ]:
finalDf = pd.DataFrame(df6)

In [ ]:
finalDf.head()

In [ ]:
finalDf.columns

In [ ]:
print(finalDf.shape[0], finalDf.shape[1])

In [ ]:
finalDf.to_csv('rawDataWithlocationFullfilled.csv', index=False)