In [20]:
import pandas as pd
import os
df = pd.read_csv('../data/01_raw/oneMilRecordsLiquor.csv')

/tmp/ipykernel_1347032/1425128773.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/01_raw/oneMilRecordsLiquor.csv')

In [18]:
df.head()

,invoice_line_no,date,store,name,address,city,zipcode,store_location,county_number,county,...,state_bottle_retail,sale_bottles,sale_dollars,sale_liters,sale_gallons,:@computed_region_3r5t_5243,:@computed_region_wnea_7qqw,:@computed_region_i9mz_6gmt,:@computed_region_uhgg_e8y2,:@computed_region_e7ym_nrbf
0,INV-48770300006,2022-06-29T00:00:00.000,5900,NEW STAR FLETCHER / WATERLOO,315 FLETCHER AVE,WATERLOO,50701.0,"{'type': 'Point', 'coordinates': [-92.367142, ...",7.0,BLACK HAWK,...,5.25,24,126.00,9.0,2.37,145.0,18.0,240.0,35.0,176.0
1,INV-48782900001,2022-06-29T00:00:00.000,3390,OKOBOJI AVENUE LIQUOR,1610 OKOBOJI AVENUE,MILFORD,51351.0,"{'type': 'Point', 'coordinates': [-95.149955, ...",30.0,DICKINSON,...,5.96,288,1716.48,288.0,76.08,37.0,37.0,419.0,3.0,1779.0
2,INV-48703200006,2022-06-27T00:00:00.000,4604,PIT STOP LIQUORS / NEWTON,"1324, 1ST AVE E",NEWTON,50208.0,"{'type': 'Point', 'coordinates': [-93.035653, ...",50.0,JASPER,...,7.50,24,162.00,9.0,2.37,903.0,11.0,131.0,66.0,1791.0
3,INV-48692600064,2022-06-27T00:00:00.000,2552,HY-VEE FOOD STORE #3 / CEDAR RAPIDS,20 WILSON AVENUE WEST,CEDAR RAPIDS,52404.0,"{'type': 'Point', 'coordinates': [-91.658576, ...",57.0,LINN,...,20.99,6,116.64,10.5,2.77,793.0,18.0,264.0,45.0,287.0
4,INV-48679200008,2022-06-24T00:00:00.000,2523,HY-VEE FOOD STORE / CENTERVILLE,609 N 18TH,CENTERVILLE,52544.0,"{'type': 'Point', 'coordinates': [-92.867967, ...",4.0,APPANOOSE,...,12.99,12,155.88,9.0,2.37,210.0,54.0,534.0,98.0,175.0

In [21]:
missing_data = df.isnull().sum()

In [22]:
print(missing_data)

invoice_line_no                     0
date                                0
store                               0
name                                0
address                          3957
city                             3957
zipcode                          3957
store_location                 106405
county_number                  346656
county                          29373
category                           56
category_name                     460
vendor_no                           0
vendor_name                         0
itemno                              0
im_desc                             0
pack                                0
bottle_volume_ml                    0
state_bottle_cost                   0
state_bottle_retail                 0
sale_bottles                        0
sale_dollars                        0
sale_liters                         0
sale_gallons                        0
:@computed_region_3r5t_5243    106952
:@computed_region_wnea_7qqw    106952
:@computed_region_i9mz_6gmt    106952
:@computed_region_uhgg_e8y2    106952
:@computed_region_e7ym_nrbf    106405
dtype: int64

In [23]:
percent_missing = df.isnull().mean() * 100

In [24]:
print(percent_missing)

invoice_line_no                 0.0000
date                            0.0000
store                           0.0000
name                            0.0000
address                         0.3957
city                            0.3957
zipcode                         0.3957
store_location                 10.6405
county_number                  34.6656
county                          2.9373
category                        0.0056
category_name                   0.0460
vendor_no                       0.0000
vendor_name                     0.0000
itemno                          0.0000
im_desc                         0.0000
pack                            0.0000
bottle_volume_ml                0.0000
state_bottle_cost               0.0000
state_bottle_retail             0.0000
sale_bottles                    0.0000
sale_dollars                    0.0000
sale_liters                     0.0000
sale_gallons                    0.0000
:@computed_region_3r5t_5243    10.6952
:@computed_region_wnea_7qqw    10.6952
:@computed_region_i9mz_6gmt    10.6952
:@computed_region_uhgg_e8y2    10.6952
:@computed_region_e7ym_nrbf    10.6405
dtype: float64

In [25]:
missing_data_df = pd.DataFrame({'total_missing': missing_data, 'percent_missing': percent_missing})

missing_data_df.sort_values(by='percent_missing', ascending=False)

                             total_missing  percent_missing
county_number                       346656          34.6656
:@computed_region_uhgg_e8y2         106952          10.6952
:@computed_region_i9mz_6gmt         106952          10.6952
:@computed_region_3r5t_5243         106952          10.6952
:@computed_region_wnea_7qqw         106952          10.6952
:@computed_region_e7ym_nrbf         106405          10.6405
store_location                      106405          10.6405
county                               29373           2.9373
zipcode                               3957           0.3957
city                                  3957           0.3957
address                               3957           0.3957
category_name                          460           0.0460
category                                56           0.0056
state_bottle_retail                      0           0.0000
sale_gallons                             0           0.0000
sale_liters                              0           0.0000
sale_dollars                             0           0.0000
sale_bottles                             0           0.0000
invoice_line_no                          0           0.0000
state_bottle_cost                        0           0.0000
bottle_volume_ml                         0           0.0000
pack                                     0           0.0000
im_desc                                  0           0.0000
date                                     0           0.0000
vendor_name                              0           0.0000
vendor_no                                0           0.0000
name                                     0           0.0000
store                                    0           0.0000
itemno                                   0           0.0000

In [28]:
#Removing county_number
dfWithoutCounty = df.drop('county_number', axis=1)

,invoice_line_no,date,store,name,address,city,zipcode,store_location,county,category,...,state_bottle_retail,sale_bottles,sale_dollars,sale_liters,sale_gallons,:@computed_region_3r5t_5243,:@computed_region_wnea_7qqw,:@computed_region_i9mz_6gmt,:@computed_region_uhgg_e8y2,:@computed_region_e7ym_nrbf
0,INV-48770300006,2022-06-29T00:00:00.000,5900,NEW STAR FLETCHER / WATERLOO,315 FLETCHER AVE,WATERLOO,50701.0,"{'type': 'Point', 'coordinates': [-92.367142, ...",BLACK HAWK,1031100.0,...,5.25,24,126.00,9.0,2.37,145.0,18.0,240.0,35.0,176.0
1,INV-48782900001,2022-06-29T00:00:00.000,3390,OKOBOJI AVENUE LIQUOR,1610 OKOBOJI AVENUE,MILFORD,51351.0,"{'type': 'Point', 'coordinates': [-95.149955, ...",DICKINSON,1031100.0,...,5.96,288,1716.48,288.0,76.08,37.0,37.0,419.0,3.0,1779.0
2,INV-48703200006,2022-06-27T00:00:00.000,4604,PIT STOP LIQUORS / NEWTON,"1324, 1ST AVE E",NEWTON,50208.0,"{'type': 'Point', 'coordinates': [-93.035653, ...",JASPER,1062200.0,...,7.50,24,162.00,9.0,2.37,903.0,11.0,131.0,66.0,1791.0
3,INV-48692600064,2022-06-27T00:00:00.000,2552,HY-VEE FOOD STORE #3 / CEDAR RAPIDS,20 WILSON AVENUE WEST,CEDAR RAPIDS,52404.0,"{'type': 'Point', 'coordinates': [-91.658576, ...",LINN,1011100.0,...,20.99,6,116.64,10.5,2.77,793.0,18.0,264.0,45.0,287.0
4,INV-48679200008,2022-06-24T00:00:00.000,2523,HY-VEE FOOD STORE / CENTERVILLE,609 N 18TH,CENTERVILLE,52544.0,"{'type': 'Point', 'coordinates': [-92.867967, ...",APPANOOSE,1081300.0,...,12.99,12,155.88,9.0,2.37,210.0,54.0,534.0,98.0,175.0