In [75]:
import pandas as pd
import os
df = pd.read_csv('../data/01_raw/iowa_liquor_sales_subset.csv')

/tmp/ipykernel_1048383/1429137426.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/01_raw/iowa_liquor_sales_subset.csv')

In [76]:
df.head()

,invoice_line_no,date,store,name,address,city,zipcode,store_location,county_number,county,...,state_bottle_retail,sale_bottles,sale_dollars,sale_liters,sale_gallons,:@computed_region_3r5t_5243,:@computed_region_wnea_7qqw,:@computed_region_i9mz_6gmt,:@computed_region_uhgg_e8y2,:@computed_region_e7ym_nrbf
0,INV-48770300006,2022-06-29T00:00:00.000,5900,NEW STAR FLETCHER / WATERLOO,315 FLETCHER AVE,WATERLOO,50701.0,"{'type': 'Point', 'coordinates': [-92.367142, ...",7.0,BLACK HAWK,...,5.25,24,126.00,9.0,2.37,145.0,18.0,240.0,35.0,176.0
1,INV-48782900001,2022-06-29T00:00:00.000,3390,OKOBOJI AVENUE LIQUOR,1610 OKOBOJI AVENUE,MILFORD,51351.0,"{'type': 'Point', 'coordinates': [-95.149955, ...",30.0,DICKINSON,...,5.96,288,1716.48,288.0,76.08,37.0,37.0,419.0,3.0,1779.0
2,INV-48703200006,2022-06-27T00:00:00.000,4604,PIT STOP LIQUORS / NEWTON,"1324, 1ST AVE E",NEWTON,50208.0,"{'type': 'Point', 'coordinates': [-93.035653, ...",50.0,JASPER,...,7.50,24,162.00,9.0,2.37,903.0,11.0,131.0,66.0,1791.0
3,INV-48692600064,2022-06-27T00:00:00.000,2552,HY-VEE FOOD STORE #3 / CEDAR RAPIDS,20 WILSON AVENUE WEST,CEDAR RAPIDS,52404.0,"{'type': 'Point', 'coordinates': [-91.658576, ...",57.0,LINN,...,20.99,6,116.64,10.5,2.77,793.0,18.0,264.0,45.0,287.0
4,INV-48679200008,2022-06-24T00:00:00.000,2523,HY-VEE FOOD STORE / CENTERVILLE,609 N 18TH,CENTERVILLE,52544.0,"{'type': 'Point', 'coordinates': [-92.867967, ...",4.0,APPANOOSE,...,12.99,12,155.88,9.0,2.37,210.0,54.0,534.0,98.0,175.0

In [77]:
missing_data = df.isnull().sum()

In [78]:
print(missing_data)

invoice_line_no                     0
date                                0
store                               0
name                                0
address                          3957
city                             3957
zipcode                          3957
store_location                 106405
county_number                  346656
county                          29373
category                           56
category_name                     460
vendor_no                           0
vendor_name                         0
itemno                              0
im_desc                             0
pack                                0
bottle_volume_ml                    0
state_bottle_cost                   0
state_bottle_retail                 0
sale_bottles                        0
sale_dollars                        0
sale_liters                         0
sale_gallons                        0
:@computed_region_3r5t_5243    106952
:@computed_region_wnea_7qqw    106952
:@computed_region_i9mz_6gmt    106952
:@computed_region_uhgg_e8y2    106952
:@computed_region_e7ym_nrbf    106405
dtype: int64

In [79]:
percent_missing = df.isnull().mean() * 100

In [80]:
print(percent_missing)

invoice_line_no                 0.0000
date                            0.0000
store                           0.0000
name                            0.0000
address                         0.3957
city                            0.3957
zipcode                         0.3957
store_location                 10.6405
county_number                  34.6656
county                          2.9373
category                        0.0056
category_name                   0.0460
vendor_no                       0.0000
vendor_name                     0.0000
itemno                          0.0000
im_desc                         0.0000
pack                            0.0000
bottle_volume_ml                0.0000
state_bottle_cost               0.0000
state_bottle_retail             0.0000
sale_bottles                    0.0000
sale_dollars                    0.0000
sale_liters                     0.0000
sale_gallons                    0.0000
:@computed_region_3r5t_5243    10.6952
:@computed_region_wnea_7qqw    10.6952
:@computed_region_i9mz_6gmt    10.6952
:@computed_region_uhgg_e8y2    10.6952
:@computed_region_e7ym_nrbf    10.6405
dtype: float64

In [81]:
missing_data_df = pd.DataFrame({'total_missing': missing_data, 'percent_missing': percent_missing})

missing_data_df.sort_values(by='percent_missing', ascending=False)

                             total_missing  percent_missing
county_number                       346656          34.6656
:@computed_region_uhgg_e8y2         106952          10.6952
:@computed_region_i9mz_6gmt         106952          10.6952
:@computed_region_3r5t_5243         106952          10.6952
:@computed_region_wnea_7qqw         106952          10.6952
:@computed_region_e7ym_nrbf         106405          10.6405
store_location                      106405          10.6405
county                               29373           2.9373
zipcode                               3957           0.3957
city                                  3957           0.3957
address                               3957           0.3957
category_name                          460           0.0460
category                                56           0.0056
state_bottle_retail                      0           0.0000
sale_gallons                             0           0.0000
sale_liters                              0           0.0000
sale_dollars                             0           0.0000
sale_bottles                             0           0.0000
invoice_line_no                          0           0.0000
state_bottle_cost                        0           0.0000
bottle_volume_ml                         0           0.0000
pack                                     0           0.0000
im_desc                                  0           0.0000
date                                     0           0.0000
vendor_name                              0           0.0000
vendor_no                                0           0.0000
name                                     0           0.0000
store                                    0           0.0000
itemno                                   0           0.0000

In [82]:
#Removing county_number
dfWithoutCounty = df.drop('county_number', axis=1)

In [83]:
dfCleaned = dfWithoutCounty.dropna(subset=['city','zipcode', 'category', 'category_name', 'address'])

In [84]:
dfCleaned.isnull().sum()

invoice_line_no                     0
date                                0
store                               0
name                                0
address                             0
city                                0
zipcode                             0
store_location                 102363
county                          25390
category                            0
category_name                       0
vendor_no                           0
vendor_name                         0
itemno                              0
im_desc                             0
pack                                0
bottle_volume_ml                    0
state_bottle_cost                   0
state_bottle_retail                 0
sale_bottles                        0
sale_dollars                        0
sale_liters                         0
sale_gallons                        0
:@computed_region_3r5t_5243    102910
:@computed_region_wnea_7qqw    102910
:@computed_region_i9mz_6gmt    102910
:@computed_region_uhgg_e8y2    102910
:@computed_region_e7ym_nrbf    102363
dtype: int64

In [85]:
dfCleaned.head()

,invoice_line_no,date,store,name,address,city,zipcode,store_location,county,category,...,state_bottle_retail,sale_bottles,sale_dollars,sale_liters,sale_gallons,:@computed_region_3r5t_5243,:@computed_region_wnea_7qqw,:@computed_region_i9mz_6gmt,:@computed_region_uhgg_e8y2,:@computed_region_e7ym_nrbf
0,INV-48770300006,2022-06-29T00:00:00.000,5900,NEW STAR FLETCHER / WATERLOO,315 FLETCHER AVE,WATERLOO,50701.0,"{'type': 'Point', 'coordinates': [-92.367142, ...",BLACK HAWK,1031100.0,...,5.25,24,126.00,9.0,2.37,145.0,18.0,240.0,35.0,176.0
1,INV-48782900001,2022-06-29T00:00:00.000,3390,OKOBOJI AVENUE LIQUOR,1610 OKOBOJI AVENUE,MILFORD,51351.0,"{'type': 'Point', 'coordinates': [-95.149955, ...",DICKINSON,1031100.0,...,5.96,288,1716.48,288.0,76.08,37.0,37.0,419.0,3.0,1779.0
2,INV-48703200006,2022-06-27T00:00:00.000,4604,PIT STOP LIQUORS / NEWTON,"1324, 1ST AVE E",NEWTON,50208.0,"{'type': 'Point', 'coordinates': [-93.035653, ...",JASPER,1062200.0,...,7.50,24,162.00,9.0,2.37,903.0,11.0,131.0,66.0,1791.0
3,INV-48692600064,2022-06-27T00:00:00.000,2552,HY-VEE FOOD STORE #3 / CEDAR RAPIDS,20 WILSON AVENUE WEST,CEDAR RAPIDS,52404.0,"{'type': 'Point', 'coordinates': [-91.658576, ...",LINN,1011100.0,...,20.99,6,116.64,10.5,2.77,793.0,18.0,264.0,45.0,287.0
4,INV-48679200008,2022-06-24T00:00:00.000,2523,HY-VEE FOOD STORE / CENTERVILLE,609 N 18TH,CENTERVILLE,52544.0,"{'type': 'Point', 'coordinates': [-92.867967, ...",APPANOOSE,1081300.0,...,12.99,12,155.88,9.0,2.37,210.0,54.0,534.0,98.0,175.0

In [86]:
#Checking datatypes for each column
data_types = dfCleaned.dtypes
print(data_types)

invoice_line_no                 object
date                            object
store                            int64
name                            object
address                         object
city                            object
zipcode                         object
store_location                  object
county                          object
category                       float64
category_name                   object
vendor_no                        int64
vendor_name                     object
itemno                           int64
im_desc                         object
pack                             int64
bottle_volume_ml                 int64
state_bottle_cost              float64
state_bottle_retail            float64
sale_bottles                     int64
sale_dollars                   float64
sale_liters                    float64
sale_gallons                   float64
:@computed_region_3r5t_5243    float64
:@computed_region_wnea_7qqw    float64
:@computed_region_i9mz_6gmt    float64
:@computed_region_uhgg_e8y2    float64
:@computed_region_e7ym_nrbf    float64
dtype: object

In [87]:
# Displaying rows with null values in 'store_location' and 'county'
null_store_location = dfCleaned[dfCleaned['store_location'].isnull()]
null_county = dfCleaned[dfCleaned['county'].isnull()]

In [88]:
# Displaying the first few rows of these subsets
null_store_location.head()

,invoice_line_no,date,store,name,address,city,zipcode,store_location,county,category,...,state_bottle_retail,sale_bottles,sale_dollars,sale_liters,sale_gallons,:@computed_region_3r5t_5243,:@computed_region_wnea_7qqw,:@computed_region_i9mz_6gmt,:@computed_region_uhgg_e8y2,:@computed_region_e7ym_nrbf
40,INV-48781800012,2022-06-29T00:00:00.000,5425,SPIRITS LIQUOR / GRIMES,109 E 1ST STREET,GRIMES,50111.0,NaN,POLK,1012100.0,...,13.13,6,78.78,10.5,2.77,NaN,NaN,NaN,NaN,NaN
48,INV-48701800003,2022-06-27T00:00:00.000,2625,HY-VEE WINE & SPIRITS #2 / DAVENPORT,3301 W KIMBERLY RD,DAVENPORT,52804.0,NaN,SCOTT,1081200.0,...,6.45,6,38.70,0.3,0.07,NaN,NaN,NaN,NaN,NaN
51,INV-48740300007,2022-06-28T00:00:00.000,5952,TOBACCO OUTLET PLUS #537 / IOWA CITY,923 S RIVERSIDE DR,IOWA CITY,52246.0,NaN,JOHNSON,1051100.0,...,19.50,6,117.00,10.5,2.77,NaN,NaN,NaN,NaN,NaN
55,INV-48722500017,2022-06-27T00:00:00.000,5618,CASEY'S GENERAL STORE #1446 / LISBON,150 E. BUSINESS 30,LISBON,52253.0,NaN,LINN,1011200.0,...,8.40,8,67.20,3.0,0.79,NaN,NaN,NaN,NaN,NaN
59,INV-48701800035,2022-06-27T00:00:00.000,2625,HY-VEE WINE & SPIRITS #2 / DAVENPORT,3301 W KIMBERLY RD,DAVENPORT,52804.0,NaN,SCOTT,1081500.0,...,3.20,12,38.40,12.0,3.17,NaN,NaN,NaN,NaN,NaN

In [89]:
null_county.head()

,invoice_line_no,date,store,name,address,city,zipcode,store_location,county,category,...,state_bottle_retail,sale_bottles,sale_dollars,sale_liters,sale_gallons,:@computed_region_3r5t_5243,:@computed_region_wnea_7qqw,:@computed_region_i9mz_6gmt,:@computed_region_uhgg_e8y2,:@computed_region_e7ym_nrbf
169880,S33578500029,2016-07-26T00:00:00.000,2285,JOHN'S GROCERY,401 EAST MARKET ST,IOWA CITY,52240,"{'type': 'Point', 'coordinates': [-91.529854, ...",NaN,1012300.0,...,22.50,12,270.00,9.00,2.38,526.0,22.0,292.0,61.0,1792.0
182587,S33648700071,2016-07-29T00:00:00.000,2460,"LIQUOR BARN, INC.",721 CENTRAL AVENUE WEST,HAMPTON,50441,"{'type': 'Point', 'coordinates': [-93.21693, 4...",NaN,1081900.0,...,7.88,3,23.64,2.25,0.59,775.0,17.0,225.0,29.0,279.0
185761,S33632400017,2016-07-28T00:00:00.000,5251,NORTHSIDE LIQUOR,"1303, NORTH FEDERAL",MASON CITY,50401,"{'type': 'Point', 'coordinates': [-93.201061, ...",NaN,1081600.0,...,8.06,12,96.72,9.00,2.38,647.0,16.0,217.0,17.0,1373.0
207154,S33291800028,2016-07-11T00:00:00.000,5226,KC BROTHERS,214 MYRTLE ST,DAVENPORT,52802.0,"{'type': 'Point', 'coordinates': [-90.589149, ...",NaN,1011200.0,...,8.10,1,8.10,0.50,0.13,185.0,56.0,84.0,67.0,1881.0
380913,S32341900018,2016-05-16T00:00:00.000,2650,HY-VEE WINE AND SPIRITS / HARLAN,1808 23RD ST,HARLAN,51537.0,"{'type': 'Point', 'coordinates': [-95.339881, ...",NaN,1011300.0,...,46.02,6,276.12,10.50,2.77,229.0,43.0,254.0,58.0,298.0

In [90]:
# Creating a mapping from zipcode to the most common county for that zipcode
zipcode_to_county = dfCleaned.dropna(subset=['county']).groupby('zipcode')['county'].agg(lambda x: x.value_counts().index[0]).to_dict()

# Applying this mapping to fill missing values in the 'county' column
dfCleaned['county'] = dfCleaned.apply(lambda row: zipcode_to_county.get(row['zipcode'], row['county']) if pd.isnull(row['county']) else row['county'], axis=1)

# Checking if the missing values in 'county' have been filled
missing_county_after_filling = dfCleaned['county'].isnull().sum()
missing_county_after_filling

/tmp/ipykernel_1048383/2938091339.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfCleaned['county'] = dfCleaned.apply(lambda row: zipcode_to_county.get(row['zipcode'], row['county']) if pd.isnull(row['county']) else row['county'], axis=1)

241

In [91]:
data_cleaned = dfCleaned.dropna(subset=['county'])

In [92]:
#Fullfilling missing values from store_location based on store_id ['store']

In [93]:
# Step 1: Creating a mapping between 'store' and the most common 'store_location' for that store
store_to_location = data_cleaned.dropna(subset=['store_location']).groupby('store')['store_location'].agg(lambda x: x.value_counts().index[0]).to_dict()

# Step 2: Using this mapping to fill missing 'store_location' values
data_cleaned['store_location'] = data_cleaned.apply(lambda row: store_to_location.get(row['store'], row['store_location']) if pd.isnull(row['store_location']) else row['store_location'], axis=1)

# Step 3: Checking how many missing values are left in 'store_location'
data_cleaned['store_location'].isnull().sum()

/tmp/ipykernel_1048383/3355744226.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['store_location'] = data_cleaned.apply(lambda row: store_to_location.get(row['store'], row['store_location']) if pd.isnull(row['store_location']) else row['store_location'], axis=1)

85162

In [94]:
#Still too many records to avoid !
# Splitting store_location

In [95]:
#from geopy.geocoders import Nominatim
#from geopy.extra.rate_limiter import RateLimiter

# Utworzenie geokodera z ograniczeniem szybkoÅ›ci
#geolocator = Nominatim(user_agent="GeoLoc")
#geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)

# Funkcja do geokodowania adresu
#def geocode_address(row):
    # Tworzenie peÅ‚nego adresu z kolumn
#    address = f"{row['address']}, {row['city']}, {row['county']}, {row['zipcode']}"
#    location = geocode(address)
#    if location:
#        return pd.Series([location.latitude, location.longitude])
#    else:
#        return pd.Series([None, None])

# Stosowanie funkcji do DataFrame
#data_cleaned[['latitude', 'longitude']] = data_cleaned.apply(geocode_address, axis=1)

In [96]:
#Temp dropping store_location column - to modify in the future ?
data_cleaned.drop(columns=['store_location'], inplace=True)

/tmp/ipykernel_1048383/2129834627.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned.drop(columns=['store_location'], inplace=True)

In [97]:
data_cleaned.drop(columns=[':@computed_region_3r5t_5243', ':@computed_region_wnea_7qqw', ':@computed_region_i9mz_6gmt', ':@computed_region_uhgg_e8y2', ':@computed_region_e7ym_nrbf'], inplace=True)

/tmp/ipykernel_1048383/254899015.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned.drop(columns=[':@computed_region_3r5t_5243', ':@computed_region_wnea_7qqw', ':@computed_region_i9mz_6gmt', ':@computed_region_uhgg_e8y2', ':@computed_region_e7ym_nrbf'], inplace=True)

In [98]:
finalDf = pd.DataFrame(data_cleaned)

In [99]:
finalDf.head()

,invoice_line_no,date,store,name,address,city,zipcode,county,category,category_name,...,itemno,im_desc,pack,bottle_volume_ml,state_bottle_cost,state_bottle_retail,sale_bottles,sale_dollars,sale_liters,sale_gallons
0,INV-48770300006,2022-06-29T00:00:00.000,5900,NEW STAR FLETCHER / WATERLOO,315 FLETCHER AVE,WATERLOO,50701.0,BLACK HAWK,1031100.0,AMERICAN VODKAS,...,36968,NEW AMSTERDAM 80PRF,24,375,3.50,5.25,24,126.00,9.0,2.37
1,INV-48782900001,2022-06-29T00:00:00.000,3390,OKOBOJI AVENUE LIQUOR,1610 OKOBOJI AVENUE,MILFORD,51351.0,DICKINSON,1031100.0,AMERICAN VODKAS,...,35317,BARTON VODKA,12,1000,3.97,5.96,288,1716.48,288.0,76.08
2,INV-48703200006,2022-06-27T00:00:00.000,4604,PIT STOP LIQUORS / NEWTON,"1324, 1ST AVE E",NEWTON,50208.0,JASPER,1062200.0,WHITE RUM,...,43124,BACARDI SUPERIOR,24,375,5.00,7.50,24,162.00,9.0,2.37
3,INV-48692600064,2022-06-27T00:00:00.000,2552,HY-VEE FOOD STORE #3 / CEDAR RAPIDS,20 WILSON AVENUE WEST,CEDAR RAPIDS,52404.0,LINN,1011100.0,BLENDED WHISKIES,...,25608,SEAGRAMS 7 CROWN,6,1750,13.99,20.99,6,116.64,10.5,2.77
4,INV-48679200008,2022-06-24T00:00:00.000,2523,HY-VEE FOOD STORE / CENTERVILLE,609 N 18TH,CENTERVILLE,52544.0,APPANOOSE,1081300.0,AMERICAN CORDIALS & LIQUEURS,...,69618,DR MCGILLICUDDYS BUTTERSCOTCH,12,750,8.66,12.99,12,155.88,9.0,2.37