In [6]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.iowa.gov", "tOsxNr0serO8VKLi0WhlBUn4k")

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.iowa.gov,
#                  MyAppToken,
#                  username="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("m3tr-qhgy", limit=1000000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

In [12]:
results_df.head(10000)

,invoice_line_no,date,store,name,address,city,zipcode,store_location,county_number,county,...,state_bottle_retail,sale_bottles,sale_dollars,sale_liters,sale_gallons,:@computed_region_3r5t_5243,:@computed_region_wnea_7qqw,:@computed_region_i9mz_6gmt,:@computed_region_uhgg_e8y2,:@computed_region_e7ym_nrbf
0,INV-48770300006,2022-06-29T00:00:00.000,5900,NEW STAR FLETCHER / WATERLOO,315 FLETCHER AVE,WATERLOO,50701,"{'type': 'Point', 'coordinates': [-92.367142, ...",07,BLACK HAWK,...,5.25,24,126.00,9.00,2.37,145,18,240,35,176
1,INV-48782900001,2022-06-29T00:00:00.000,3390,OKOBOJI AVENUE LIQUOR,1610 OKOBOJI AVENUE,MILFORD,51351,"{'type': 'Point', 'coordinates': [-95.149955, ...",30,DICKINSON,...,5.96,288,1716.48,288.00,76.08,37,37,419,3,1779
2,INV-48703200006,2022-06-27T00:00:00.000,4604,PIT STOP LIQUORS / NEWTON,"1324, 1ST AVE E",NEWTON,50208,"{'type': 'Point', 'coordinates': [-93.035653, ...",50,JASPER,...,7.50,24,162.00,9.00,2.37,903,11,131,66,1791
3,INV-48692600064,2022-06-27T00:00:00.000,2552,HY-VEE FOOD STORE #3 / CEDAR RAPIDS,20 WILSON AVENUE WEST,CEDAR RAPIDS,52404,"{'type': 'Point', 'coordinates': [-91.658576, ...",57,LINN,...,20.99,6,116.64,10.50,2.77,793,18,264,45,287
4,INV-48679200008,2022-06-24T00:00:00.000,2523,HY-VEE FOOD STORE / CENTERVILLE,609 N 18TH,CENTERVILLE,52544,"{'type': 'Point', 'coordinates': [-92.867967, ...",04,APPANOOSE,...,12.99,12,155.88,9.00,2.37,210,54,534,98,175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,INV-48826200019,2022-06-30T00:00:00.000,4511,SUPER QUICK / SE 30 DM,303 SE 30TH ST,DES MOINES,50317,"{'type': 'Point', 'coordinates': [-93.558326, ...",77,POLK,...,25.74,1,25.74,0.05,0.01,87,29,342,64,1878
9996,INV-45020100027,2022-07-18T00:00:00.000,2635,HY-VEE #4 / DAVENPORT,4064 E 53RD ST,DAVENPORT,52807,"{'type': 'Point', 'coordinates': [-90.513769, ...",NaN,SCOTT,...,8.31,2,16.62,0.10,0.02,227,56,83,67,1881
9997,INV-48759700016,2022-06-28T00:00:00.000,6040,HOMETOWN FOODS / TRAER,420 SECOND STREET,TRAER,50675,"{'type': 'Point', 'coordinates': [-92.468086, ...",48,IOWA,...,10.38,6,62.28,10.50,2.77,116,18,245,47,1883
9998,INV-48816900206,2022-06-30T00:00:00.000,2572,HY-VEE FOOD STORE / CEDAR FALLS,6301 UNIVERSITY,CEDAR FALLS,50613,"{'type': 'Point', 'coordinates': [-92.435236, ...",07,BLACK HAWK,...,1.35,48,64.80,4.80,1.26,511,18,244,35,176
9999,INV-45045300030,2022-07-19T00:00:00.000,2666,HY-VEE FOOD STORE #2 / STATE ANKENY,2510 SW STATE ST,ANKENY,50023,"{'type': 'Point', 'coordinates': [-93.621928, ...",NaN,POLK,...,39.99,6,239.94,4.50,1.18,831,25,316,64,1878

In [8]:
results_df.describe()

,invoice_line_no,date,store,name,address,city,zipcode,store_location,county_number,county,...,state_bottle_retail,sale_bottles,sale_dollars,sale_liters,sale_gallons,:@computed_region_3r5t_5243,:@computed_region_wnea_7qqw,:@computed_region_i9mz_6gmt,:@computed_region_uhgg_e8y2,:@computed_region_e7ym_nrbf
count,1000000,1000000,1000000,1000000,996043,996043,996043,893595,653344,970627,...,1000000,1000000,1000000,1000000,1000000,893048,893048,893048,893048,893595
unique,1000000,1769,2410,2513,2460,462,495,2528,99,99,...,2003,252,10415,516,594,473,54,273,99,105
top,INV-48770300006,2016-06-06T00:00:00.000,2633,HY-VEE #3 / BDI / DES MOINES,3221 SE 14TH ST,DES MOINES,50010,"{'type': 'Point', 'coordinates': [-92.435236, ...",77,POLK,...,12.38,12,162.00,9.00,2.77,196,18,264,64,1878
freq,1,13767,8515,8515,11387,89140,23276,6441,126355,189856,...,21590,265519,9888,197297,128945,22563,110897,47221,155248,156006

In [13]:
results_df.to_csv("oneMilRecordsLiquor.csv", index=False)

In [ ]:
ke